Package: plymouth-theme-pop-text
Source: pop-default-settings
Version: 1.0.38
Architecture: amd64
Maintainer: Jeremy Soller <jeremy@system76.com>
Installed-Size: 18
Depends: plymouth, plymouth-theme-ubuntu-text
Conflicts: plymouth-theme-system76-text
Breaks: plymouth (<< 0.9.2-3ubuntu1~)
Replaces: plymouth (<< 0.8.1-1~)
Provides: plymouth-theme
Section: x11
Priority: optional
Homepage: https://github.com/system76/pop-default-settings
Description: graphical boot animation and logger - pop-text theme
 Plymouth is an application that runs very early in the boot process
 (even before the root filesystem is mounted!) that provides a graphical
 boot animation while the boot process happens in the background.
 .
 This package contains the default pop-text text theme used when no
 support for a graphical theme is found on your system.
