Source: pop-default-settings
Section: metapackages
Priority: required
Maintainer: Jeremy Soller <jeremy@system76.com>
Uploaders: Ian Santopietro <ian@system76.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://github.com/system76/pop-default-settings

Package: pop-default-settings
Architecture: all
Essential: yes
Depends: ${misc:Depends},
         base-files (>= 10),
         gnome-menus,
         gnupg,
         python3-repolib (>> 1.3.9),
         ubuntu-minimal,
         ubuntu-standard,
Recommends:
         pop-plymouth-theme,
Description: default settings for Pop OS
 This package contains the default settings used by Pop.
