Source: pop-default-settings
Section: x11
Priority: optional
Maintainer: Jeremy Soller <jeremy@system76.com>
Uploaders: Ian Santopietro <ian@system76.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://github.com/system76/pop-default-settings

Package: pop-default-settings
Architecture: any
Depends: ${misc:Depends},
         libglib2.0-bin,
         gnome-shell-extensions,
         gnome-shell-extension-better-volume,
         gnome-shell-extension-suspend-button,
         pop-theme,
Conflicts: system76-pop-default-settings
Recommends: system76-wallpapers
Breaks: system76-wallpapers-xenial (<< 16.10.1)
Replaces: system76-wallpapers-xenial (<< 16.10.1)
Description: default settings for the Pop desktop
 This package contains the default settings used by Pop.

Package: grub-theme-pop
Architecture: any-i386 any-amd64 any-powerpc any-ppc64 any-ppc64el any-sparc any-sparc64 any-mipsel any-ia64 any-arm any-arm64
Depends: ${misc:Depends}, grub-common
Conflicts: grub-theme-system76
Multi-Arch: foreign
Description: GRand Unified Bootloader, version 2 (pop theme)
 This is the default pop theme for GRUB's graphical menu.

Package: plymouth-theme-pop-logo
Architecture: any
Depends: ${misc:Depends}, plymouth, plymouth-label, plymouth-themes
Conflicts: plymouth-theme-system76-logo
Provides: plymouth-theme
Breaks: plymouth (<< 0.9.2-3ubuntu1~),
Description: graphical boot animation and logger - pop-logo theme
 Plymouth is an application that runs very early in the boot process
 (even before the root filesystem is mounted!) that provides a graphical
 boot animation while the boot process happens in the background.
 .
 This package contains the default pop-logo theme.

Package: plymouth-theme-pop-text
Architecture: any
Depends: ${misc:Depends}, plymouth, plymouth-theme-ubuntu-text
Conflicts: plymouth-theme-system76-text
Provides: plymouth-theme
Replaces: plymouth (<< 0.8.1-1~)
Breaks: plymouth (<< 0.9.2-3ubuntu1~),
Description: graphical boot animation and logger - pop-text theme
 Plymouth is an application that runs very early in the boot process
 (even before the root filesystem is mounted!) that provides a graphical
 boot animation while the boot process happens in the background.
 .
 This package contains the default pop-text text theme used when no
 support for a graphical theme is found on your system.
