Package: pop-default-settings
Version: 1.0.38
Architecture: amd64
Maintainer: Jeremy Soller <jeremy@system76.com>
Installed-Size: 67
Depends: dconf-gsettings-backend | gsettings-backend, libglib2.0-bin, gnome-shell-extensions, gnome-shell-extension-better-volume, gnome-shell-extension-suspend-button, pop-theme
Recommends: system76-wallpapers
Conflicts: system76-pop-default-settings
Breaks: system76-wallpapers-xenial (<< 16.10.1)
Replaces: system76-wallpapers-xenial (<< 16.10.1)
Section: x11
Priority: optional
Homepage: https://github.com/system76/pop-default-settings
Description: default settings for the Pop desktop
 This package contains the default settings used by Pop.
